.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
  }
  
  .inputs {
    width: 20rem;
    height: 2.5rem;
    border: none;
    border-bottom: 0.1rem solid #ccc;
    border-radius: "30px";
    font-size: 1.2rem;
    outline: none;
    transition: border-bottom-color 0.2s;
  }
  
  .input:focus {
    border-bottom-color: #666;
  }
  
  .label {
    font-size: 1.2rem;
    color: #ccc;
    pointer-events: none;
    transition: transform 0.2s, color 0.2s;
    transform: translateY(1.5rem);
  }
  
  .focused {
    color: #666;
    transform: translateY(0);
  }
  